#rick {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#thebutton {
  display: block;
  width: 100%;
  height: 100hv;
  border: none;
  background-color: #000000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
