html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:black;
}
#rick {
  /*position: fixed;*/
  position: relative;
  right: 0;
  bottom: 0;
  /*min-width: 100%; 
  min-height: 100%;*/
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  z-Index: 1;
}
#thebutton {
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #000000;
  padding: 14px 28px;
  font-size: 300px;
  cursor: pointer;
  text-align: center;
  color: green;
  position: absolute;
  z-Index: 2;
}
.centerstuff {
  text-align: center;
  width: 100%;
}
